<form method="post">
    {{dump(size)}}
    <input type="hidden" value="{{ size.id }}" name="id">
    <div class="form-group">
        <label for="number">Size</label>
        <input type="text" class="form-control" id="number" value="{{ size.number }}" name="number">
    </div>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</form>











