{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit url #{{ url.id }}</h1>
    {% include 'url/_form.html.twig' %}
    <div class="text-right">
        <a href="/url/show/{{ url.id }}">Back</a>
    </div>
{% endblock %}
