{% extends 'layout.html.twig' %}
{% block content %}
<div class="container-about">
  <div style="text-align:center">
    <h2 class="titleAboutUs-about">About Us</h2>
  </div>
  <div class="row">
    <div class="column-about-left">
      <img class="aboutImage" src="https://www.abacai.fr/wp-content/uploads/2020/09/Savoir-acheter-des-gousses-de-vanille-2048x1536-1.jpg" style="width:80%">
    </div>
  <div class="column-about-right">
        <h2>History Of Vanilla</h2>  
          <p class="text-about">
                A warm welcome to you, and thank you for your interest in our website and products.
                So, here's our story...
                Vanill story is a family business that started with humble beginnings in the UK over a decade ago when the vanilla market was very different to today. As one of the directors it was my wish at that time to open the UK market to premium quality, well priced vanilla products that came from Madagascar, Mexique, Tahiti, Reunion. 
                Although I have settled and lived in London for several years now, I was born and have lived in Madagascar for almost half of my life. For me, vanilla was a product I used to see as part of daily life in its various forms, however its absence in the UK has made me appreciate its true value.
          </p>
        <div class="flex-container-about">
          <div class="smily1">
            <span style='font-size:100px;'>&#x263A;</span>
              <p>"Many thanks, Fantastic service and product."</p>
              <p>Ellen</p>
          </div>
          <div class="smily2">
            <span style='font-size:100px;'>&#x263A;</span>
              <p>" I am impressed by the speed and quality."</p>
              <p>Tommy</p>   
          </div>
          <div class="smily3">
            <span style='font-size:100px;'>&#x263A;</span>
              <p>"Ordered Friday, late, and delivered Monday. Brilliant."<p>
              <p>Bill</p>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}