{% extends 'layout.html.twig' %}
{% block content %}
<div class="container-contact">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Drop by for some vanilla or drop us a message:</p>
  </div>
  <div class="row">
    <div class="column-contact-left">
      <img src="https://www.parisdepices.com/wp-content/uploads/2016/03/DAY-BY-DAY-vanille.jpg" style="width:100%">
    </div>
    <div class="column-contact-right">
      <form action="/home/send" method="POST">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="email">email</label>
        <input type="text" id="email" name="email" placeholder="Your mail..">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="UK">UK</option>
          <option value="Ireland">Ireland</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
        
      </form>
    </div>
  </div>
</div>
{% endblock %}